$--c-main: #fffff0;
$--c-secondary: #636363;
$--c-active: rgb(0, 200, 255);
$--c-dark: hsl(222, 14%, 10%);
$--c-dark-light: #20232a;

$--font-family: "Kanit", sans-serif;

$--bp-mobile: 480px;
$--bp-smal-tablet: 576px;
$--bp-tablet: 767.98px;
$--bp-smal-desktop: 991.98px;
